{% extends "base.html" %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">Product Description</p>
        </div>
    </div>
</header>
        <!-- Product section-->
        <section class="py-5">
            {% for image in product.product_images.all %}
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="/media/{{product.product_images.first.image}}" alt="..." /></div>
                    <div class="col-md-6">
                        <!-- <div class="small mb-1">SKU: BST-498</div> -->
                        <h1 class="display-5 fw-bolder">{{product.product_name}}</h1>
                        <div class="fs-5 mb-5">
                            <!-- <span class="text-decoration-line-through">${{product.price}}</span> -->
                            <!-- <span>${{product.price}}</span> -->
                        </div>
                        <p class="lead">{{product.product_description|linebreaks}}</p>
                        {% if request.GET.alert == 'danger' %}
                            <div class="alert alert-danger" role="alert">
                                <p>Please select less than {{request.GET.items}} items</p>
                            </div>
                        {% endif %}
                        <!-- {% if product.total_items != 0 %}
                        <div class="d-flex">
                            <form method="post" action="{% url 'add_to_cart' product.slug %}">
                                {% csrf_token %}
                                <input class="form-control text-center me-3" id="inputQuantity" name="values" type="num" value="1" style="max-width: 3rem" />
                                <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                                    <i class="bi-cart-fill me-1"></i>
                                    Add to cart
                                </button>
                            </form>
                        </div>
                        {% endif %} -->
                    </div>
                    <!-- <div class="col-md-2">
                        <div class="card" style="width: 15rem;">
                            <div class="card-header text-center">
                              <b>Reviews</b>
                            </div>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item">Cras justo odio</li>
                              <li class="list-group-item">Dapibus ac facilisis in</li>
                              <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                          </div>
                    </div> -->
                </div>
            </div>
            {% endfor %}
        </section>
        <!-- Related items section-->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">Related products</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for item in related_product %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="/media/{{item.image}}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{item.name}}</h5>
                                    <!-- Product price-->
                                    <!-- ${{ item.price_range }} -->
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'category_index' item.name %}">View options</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                    
                    
                </div>
            </div>
        </section>
        
        {% endblock %}